<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.ean.first_board.board.domain.Board" alias="Board"/>
		<typeAlias type="com.ean.first_board.board.domain.Member" alias="Member"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
	</mappers>

	
</configuration>
